<!DOCTYPE html>
<html>
<head>
	<title>Husky Blog {{view.view_name}} - {{page_title}}</title>
	<link rel='stylesheet' href='{{request.static_url("huskyblog:static/style.css")}}' />
</head>
<body>
	<h1>{{view.view_name}} {{page_title}}</h1>
	<h1>Hi {{ name }}</h1>
	<form method=POST action="{{request.current_route_url()}}">
		<input name="new_name" />
		<input type="submit" name="form.edit" value="save" />
		<input type="submit" name="form.delete" value="Delete" />
	</form>
	<br />
 	<form method=POST action="{{request.current_route_url()}}}">
		<input name="user_data" type="text" />
		<input name="db.submit" type="submit"/>
	</form>

	<h2>Data View</h2>
	<form method=GET action={{request.current_route_url()}}">
		<input type="submit" name="db.get" />
	</form>
	<p> {{ data }} </p>
</body>
</html>
